@font-face {
  font-family: 'Ubuntu';
  font-weight: 700;
  src: url(./assets/fonts/Ubuntu-Bold.woff2);
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  src: url(./assets/fonts/Ubuntu-Medium.woff2);
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  src: url(./assets/fonts/Ubuntu-Regular.woff2);
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 300;
  src: url(./assets/fonts/Ubuntu-Light.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

:focus {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

main {
  overflow: hidden;
}

.btn-reset {
  background: none;
  border: none;
  cursor: pointer;
}

.blue-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #116ACC;
  border: none;
  border-radius: 7px;
  cursor: pointer;

  &:hover,
  &:focus {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), #116ACC;
  }

  &:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #116ACC;
  }

  &:disabled {
    background: #9CA3AF;
  }
}

.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1280px;
}

// ====== HEADER ======
.header {
  width: 100%;
  min-height: 100px;
  background-color: #116ACC;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);

  &__container {
    padding-top: 25px;
    padding-bottom: 25px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    padding: 10px;
    height: 100%;
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    margin-bottom: 10px;
    margin-left: 25px;
    padding: 16px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #116ACC;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 7px;
    cursor: pointer;
  }
}

/* ====== FORM ====== */
.form {
  margin: auto;
  margin-top: 10%;
  padding-top: 50px;
  padding-right: 85px;
  padding-bottom: 50px;
  padding-left: 115px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #F3F4F6;
  border-radius: 50px;

  &__title {
    margin-bottom: 35px;
    font-size: 34px;
    line-height: 40px;
    color: #000;
  }

  &__label {
    position: relative;
    margin-bottom: 25px;
  }

  &__span {
    position: absolute;
    top: 30%;
    left: -60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #182233;
  }

  &__input {
    width: 300px;
    padding: 10px 16px;
    font-size: 16px;
    line-height: 24px;
    color: #374151;
    border: 1px solid #9CA3AF;
    border-radius: 7px;
    transition: background-color .3s ease-in-out;
    transition: border-color .3s ease-in-out;

    &:hover {
      background-color: #A0C3FF;
      border-color: #116ACC;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 24px;
      color: #6B7280;
    }

    &--invalid {
      border-color: #BA0000;
    }

    &--valid {
      border-color: #76CA66;
    }
  }

  &__valid-massage {
    // position: absolute;
    margin-top: 5px;
    display: flex;
    align-items: center;
    top: 25%;
    right: -30px;
  }

  &__valid-span {
    margin-left: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #76CA66;
  }

  &__invalid-span {
    margin-left: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #BA0000;
  }

  &__btn {
    padding: 14px 21px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: #116ACC;
    border-radius: 7px;
    transition: background-color .3s ease-in-out;

    &:hover {
      background-color: rgb(88, 151, 219);
    }

    &:active {
      background-color: rgb(12, 74, 143);
    }

    &:disabled {
      background-color: #9CA3AF;
    }
  }
}

/* ====== BANKS ====== */
.banks {
  &__heading {
    padding-top: 50px;
    padding-bottom: 56px;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
  }

  &__map {
    width: 100%;
    height: 728px;
  }
}

/* ====== ACCOUNTS ====== */
.accounts {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__upper {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__upper-left {
    display: flex;
  }

  &__heading {
    margin-right: 35px;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
  }

  &__select {
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #116ACC;
    border-radius: 7px;
    cursor: pointer;
  }

  &__add-btn {
    padding: 16px 24px;
    padding-left: 58px;
    background-position: 12% 50%;
    background-repeat: no-repeat;
    background-image: url('../src/assets/imgs/plus.svg');
  }
}

.card-account {
  margin-right: 70px;
  margin-bottom: 50px;
  padding: 22px;
  max-width: 400px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 9px;

  &__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  &__balance {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__transaction {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
  }

  &__trans-text {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
  }

  &__trans-date {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
  }

  &__btn {
    padding: 16px 22px;
  }
}

.choices {
  width: 300px;
  position: relative;

  &__input {
    width: 100%;
  }

  &__list--single {
    display: none;
  }

  &__list {
    position: absolute;
    top: 23;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);

    &--dropdown {
      display: none;
    }
  }

  &__item {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 24px;
    color: #374151;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #A0C3FF;
    }
  }
}

.is-active {
  display: block;
}

// ===== ACCOUNT-PAGE =====

.account {
  &__top-wrapper {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  &__top {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
  }

  &__back-btn {
    padding: 16px 24px;
    padding-left: 58px;
    background-position: 12% 50%;
    background-repeat: no-repeat;
    background-image: url('../src/assets/imgs/arrow.svg');
  }

  &__number {
    font-size: 34px;
    line-height: 40px;
  }

  &__balance-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__balance-text {
    margin-right: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }

  &__balance-number {
    font-size: 20px;
    line-height: 23px;
  }
}

.transfer-form {
  padding: 25px 50px;
  max-width: 615px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #F3F4F6;
  border-radius: 50px;

  &__heading {
    align-self: start;
    margin-bottom: 25px; 
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }

  &__send-btn {
    align-self: center;
    padding: 16px 24px;
    padding-left: 58px;
    background-position: 12% 50%;
    background-repeat: no-repeat;
    background-image: url('../src/assets/imgs/coolicon.svg');
  }
}

.receiver {
  margin-bottom: 25px;
  display: flex;
  align-items: center;

  &__heading {
    margin-right: 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #182233;
  }

  &__select {
    padding: 10px 15px;
    display: block;
    width: 300px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #116ACC;
    border-radius: 7px;
    cursor: pointer;
  }
}

.amount {
  margin-bottom: 25px;
  display: flex;
  align-items: center;

  &__heading {
    margin-right: 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #182233;
  }

  &__input {
    padding: 10px 15px;
    display: block;
    width: 300px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #116ACC;
    border-radius: 7px;
    cursor: pointer;
  }
}

// ==== CURRENCY ====
.currency {
  padding-top: 50px;
  padding-bottom: 50px;

  &__heading {
    margin-bottom: 56px;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
  }

  &__card-cur {
    margin-bottom: 1px;
  }
}

.card-cur {
  padding: 50px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50px;

  &__heading {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 25px;
  }

  &__code {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
  }

  &__amount {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
  }
}